body {
	font: -webkit-control;
	font-family: "Lucida Grande", helvetica, sans-serif;
	background-color: #e8e8e8;
	color: -webkit-text;
	margin: 0;
    padding: 0;
}

a {
	color: inherit;
}

.core-window {
    padding: 20px;
}


/* Product Selection Page */

.mp3ProductSelection {
	background-color: white;
	padding: 1px 20px 20px 20px;
	border-radius: 4px;
	box-shadow: 0px 1px 1px hsla(0,0%,0%,0.1) !important;
	font-size: 16px;
}
.mp3ProductSelection .store-product-option-description {
	padding-left: 17px;
	color: gray;
	font-size: 12px;
}

.store-product-detail-image img,
.store-product-list-item-image img  {
	display: none;
}
.store-product-list-item-description-short {
	margin-top: .5em;
}
.store-product-option-display {
	padding-left: 8px;
	font-weight: bold;
}

div.mp3Hints p {
	color: gray;
	font-size: 11px !important;
}
h1,h2,h3,h4 {
	font-weight: 400;
}


/* Order Detail Page */

.core-section-header {
	display: none;
}

.store-section-order-contents {
	background-color: white;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0px 1px 1px hsla(0,0%,0%,0.1) !important;
}

.store-section-vat-exemption .store-order-price-label {
    float: none;
    display: inline;
}
.store-section-vat-exemption .store-order-price-value {
    display: inline;
    margin-left: inherit;
}

/** CCV and VAT **/
.store-action-view-help .store-action-command {
    display: none;
}

.core-form-field {
	padding-top: 10px !important;
	margin: 0 !important;
}
.core-form-field-label {
	padding-top: 4px;
}
.store-field-address-country .core-form-field-label {
	padding-top: 0 !important;
}
.store-field-cc-expire .core-form-field-label {
	padding-top: 1px !important;
}
.core-form-field-body-note {
	font-size: .7em;
    color: #555;
	padding-top: 3px;
	width: 280px !important;
}
.core-form-field-body input[type="text"] {
	width: 280px !important;
}
.store-section-payment-details,.store-section-payment .core-form-field-label
{
	display: table-cell;
	float: left;
	width: 30%;
	text-align: right;
	margin: 0;
}
.store-section-payment-details,.store-section-payment .core-form-field-body {
	display: table-cell;
	margin: 0;
	margin-left: 30%;
	padding: 0;
	padding-left: .5em;
	text-align: left;
}
.core-form-field-body input[id='confirm:card_security_code']
{
	width: 100px !important;
}
.store-payment-method-list
{
	margin: 0;
}
.store-payment-method-list-selection
{
	display: table-cell;
	float: left;
	width: 30%;
	text-align: right;
	margin: 0;
	padding-top: 1px;
}
.store-payment-method-list-description
{
	display: table-cell;
	text-align: left;
}
.store-payment-method-list-description .store-payment-types
{
	display: none;
}
.store-payment-method-list-description .store-payment-method-title
{
	margin: -2px;
}
.store-payment-method-cc .store-payment-method-content
{
	padding: 0;
	margin: 0;
}
ul.store-payment-method-list-later {
	display: none;
}


/* Messages */

.core-messages {
	padding: 0;
	margin: 0 0 10px 0;
	text-align: center;
	border: none;
	box-shadow: 0px 2px 3px hsla(0,0%,0%,0.2);
}
.core-message-info {
	padding: 2px 5px 2px 5px;
	background-color: gray;
	color: white;
}
.core-message-error {
	padding: 2px 0 2px 0;
	background-color: red;
	color: white;
}


/* Country / Language Selector */

.store-tools {
	margin-top: 0;
}
#store-variation-selector-command {
	color: black;
}
#store-variation-selection-body {
	margin-top: 2px;
	padding: 0;
	box-shadow: 0px 2px 3px hsla(0,0%,0%,0.2);
}
.store-variation-select-item-list {
	background-color: #f9f9f9;
	padding: 5px;
	margin: 0;
}
#store-variation-selection-variations li {
}
#store-variation-selection-variations li a {
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	color: black;
}
#store-variation-selection-variations li a:hover {
	text-decoration: none;
	color: white;
}


/* Navigation */

.store-page-navigation {
	padding:0;
	margin-bottom:0;
	border-top: 0;
}

#store-processing-element {
    display: none !important;
}

/* Fields and Buttons */

input[type=text], input[type=password] {
	-webkit-appearance: textfield;
	font: -webkit-control;
	padding: 2px 1px 2px 2px;
}
select {
	font: -webkit-control;
	font-size: 16px;
}

a.store-action-command {
	background: -webkit-linear-gradient(hsla(0,0%,100%,1) 0%, hsla(0,0%,95%,1) 50%, hsla(0,0%,93%,1) 50%, hsla(0,0%,95%,1) 100%) !important;
	box-shadow: 0px 1px 1px hsla(0,0%,0%,0.1) !important;
	border: 1px solid hsla(210,2%,60%,1) !important;
	color: #333 !important;
    text-decoration: none;
	border-radius: 4px;
	min-width: 60px;
	text-align: center;
	height: 17px;
	padding: 1px 9px 1px 9px !important;
	-webkit-user-drag: none !important;
	-webkit-user-select: none !important;
	cursor: default;
}
a.store-action-command:active {
	background: -webkit-linear-gradient(hsla(220,67%,80%,1) 0%, hsla(217,72%,68%,1) 50%, hsla(217,76%,63%,1) 50%, hsla(206,65%,81%,1) 100%) !important;
	box-shadow: 0px 1px 1px hsla(0,0%,0%,0.1) !important;
	border: 1px solid hsla(210,2%,60%,1) !important;
	color: #333 !important;
    text-decoration: none;
	border-radius: 4px;
	min-width: 60px;
	text-align: center;
	height: 17px;
	padding: 1px 9px 1px 9px !important;
	-webkit-user-drag: none !important;
	-webkit-user-select: none !important;
	cursor: default;
}
.store-action-title {
	font: -webkit-control;
	color: -webkit-text;
	font-size: small; // Fixes weird size in Safari 7.1 WebKit
}

/* Continue Shopping button */
.store-order-action-more {
	display: none;
}

/* Coupon field container */
.store-order-action-list {
	margin-top: 0;
}