.core-window {
	font-size: 20px !important;
}
.store-product-detail {
	display: none;
}
.store-page-navigation {
	border: none;
}
.store-product-option {
	padding-top: 25px;
}
.store-product-option-display {
	padding-left:10px;
	font-weight: bold;
	font-size: 24px;
}
.store-product-option-description {
	padding-left: 13px;
}
input.store-product-option-input-quantity {
	margin-left: 10px;
	font-size: 18px;
}
.store-section-order-contents h2.core-section-header {
	display: none;
}
h2.core-section-header {
	font-size: 32px;
	padding-top: 40px;
	padding-bottom: 10px;
}
.core-form-field-body-note {
	color: #6C768A;
	font-size: 14px;
	width: 500px !important;
}
.core-form-field-body input[type="text"] {
	font-size: 18px !important;
	width: 500px !important;
}
.core-form-field {
	padding-top: 10px !important;
	margin: 0 !important;
}
.store-section-payment-details .core-form-field-label
{
	display: table-cell;
	float: left;
	width: 30%;
	text-align: right;
	margin: 0;
}
.store-section-payment-details .core-form-field-body {
	display: table-cell;
	margin: 0;
	margin-left: 30%;
	padding: 0;
	padding-left: .5em;
	text-align: left;
}
.core-form-field-body input[id='confirm:card_security_code']
{
	width: 100px !important;
}