---
layout: help_post_en
title: '2-step verification'
author: Jessica
category: help
permalink: /howto/entry/two_factor_authentication.html
tags:
- tricks
---

2-step verification adds an extra layer of security to your account. In addition to your username and password, you'll enter a code that Google will send you via text, voice call, or our mobile app.

## Mailplane 3

Setting up 2-step verification with Mailplane 3 is as simple as it is within a browser. Visit [Google's help page](https://support.google.com/accounts/answer/180744?hl=en) and follow their directions.

## Mailplane 2

1. Visit [Google's help page](https://support.google.com/accounts/answer/180744?hl=en) and follow their directions to set-up 2-step verification.

2. Mailplane 2 requires you to enter an application-specific password to log-in. Follow the directions of [How to generate an application-specific password](https://support.google.com/accounts/answer/185833?hl=en) to generate an application-specific password. Feel free to leave it empty if you didn't enable 2-step verification for your account.
