@-webkit-keyframes flash {
    0% {
        color: white;
        background-color: #e25252;
        opacity:1;
    }
    50% {
        color: white;
        background-color: #f2c213;
    }
    100% {
        color: white;
        background-color: #e25252;
    }
}

body {
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: black;
}
a {
    color: inherit;
}
li {
    padding:5px 0 0 0;
    margin:0 0 0 5px;
}
ul {
    margin:0 0 0 20px;
    padding:0;
}

.paid_upgrade_flash {
    color: red;
    font-weight:bold;
    background-color: transparent;
    -webkit-animation-name: flash;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 10;
    -webkit-animation-timing-function: ease-in-out;
}
