---
layout: help_post
title: '2-step verification'
author: Jessica
category: help
permalink: /howto/entry/two_factor_authentication/index.html
tags:
- howto
---

Mailplane 2 doesn't support 'two-step' verification. Please use [Mailplane 3](/download).

Setting up two-step login with Mailplane 3 is as simple as it is within a browser. Visit [Google's help page](https://support.google.com/accounts/answer/180744?hl=en) and follow their directions.
