---
layout: default
---

<style>
	pre, code {
		background-color: #efefef;
		border-color: #d6d6d6 !important;
	}
	pre {
		width: 95%;
		overflow: auto;
		font-size: 14px;
		margin: 0 0 20px 0;
		padding: 10px 2%;
		border: 1px solid;
	}
	.page-title { display: none; }
</style>

<section class="white post">
	<div class="wrapper">
		<!-- Article -->
		<article>
			<span class="date">{{ page.date | date_to_string }}</span>
			<h2 class="post-title">{{ page.title }}</h2>
			{{ content }}
		</article>
	</div>
</section>

<section clasS="lightblue newsletter">
	<div class="wrapper">
		<h3>Join our newsletter</h3>
		<h4>For periodic updates about Mailplane.</h4>
		<ul>
			<form action="http://buzzardch.createsend.com/t/j/s/btdlji/" method="post">
				<input type="hidden" value="mailplaneapp.com/tour.html" name="cm-f-hthlul">
			<li class="form-field">
				<input class="field" type="email" placeholder="your@email.com" name="cm-btdlji-btdlji">
			</li>
			<li class="form-btn">
				<input class="bluebtn" type="submit" value="Subscribe">
			</li>
			</form>
		<ul>
		<p>No Spam. Each email will contain a link to unregister.</p>
	</div>
</section>