---
layout: default
---

<style>
	.author { float: right }
	pre, code {
		background-color: #efefef;
		border-color: #d6d6d6 !important;
	}
	pre {
		width: 95%;
		overflow: auto;
		font-size: 14px;
		margin: 0 0 20px 0;
		padding: 10px 2%;
		border: 1px solid;
	}
	img { max-width: 100% }
	img.shadowed, iframe.shadowed {
		box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
		-webkit-filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 0px 5px);
		-webkit-box-shadow: none;
	}
	blockquote { border-left: solid 3px; padding-left: 0.9em; }
	em.caption { display: block; font-size: smaller }
</style>

<section class="content">
	<div class="container">
		<div class="cnt-txt">
			<span class="date">{{ page.date | date_to_string }}</span>
			<span class="author">by {{ page.author }}</span>
			<h1 class="post-title">{{ page.title }}</h1>
			<br/>
			{{ content }}
		</div>
	</div>
</section>
