---
layout: default

lang: de
theme_switch_light_label: Hell
theme_switch_dark_label: Dunkel
navigation_home_label: Start
navigation_help_label: Hilfe
navigation_about_label: Über
navigation_blog_label: Blog
navigation_store_label: Kaufen
footer_privacy_policy_link_label: Datenschutz
footer_eula_link_label: EULA
footer_replies_link_label: Probieren Sie replies.io! Unser smartes Werkzeug für den Kundendienst.
---

{{ content }}

<section class="modal" id="modal_macos">
    <div id="modal_macos_arrowjs-root"></div>
    <div class="modaldialog smlnews">
        <span class="modalclose"></span>
        <h3>Download wurde gestartet!</h3>
        <h4>In Kürze finden Sie eine .tbz Datei in Ihrem Downloads Ordner. Ein Doppelklick auf diese Datei entpackt Mailplane. Viel Spaß!</h4>
        <h4>Außerdem empfehlen wir unseren Newsletter, um regelmäßig Neuigkeiten rund um Mailplane zu erfahren.</h4>
        <ul>
            <form action="https://buzzardch.createsend.com/t/j/s/btdlji/" method="post">
                <input type="hidden" value="" name="cm-f-hthlul">
                <li class="form-field">
                    <input class="field" type="email" placeholder="ihre@email.de" name="cm-btdlji-btdlji">
                </li>
                <li class="form-btn">
                    <input class="bluebtn" type="submit" value="Newsletter Abonnieren">
                </li>
            </form>
        </ul>
        <p>Kein Spam. Erwarten Sie nicht mehr als zwei E-Mails pro Jahr. Wir lieben das Programmieren zu sehr ;)</p>
    </div>

    <div class="modalbg"></div>
</section>
<section class="modal" id="modal_non_macos">
    <div id="modal_non_macos_arrowjs-root"></div>
    <div class="modaldialog smlnews">
        <span class="modalclose"></span>
        <h3>Später downloaden</h3>
        <h4>Mailplane benötigt macOS 10.12 oder höher.</h4>
        <h4>Schicken Sie sich eine E-Mail und laden Sie Mailplane herunter, wenn Sie an Ihrem Mac sind.</h4>
        <ul>
            <form action="https://store.mailplaneapp.com/send_download_link.php" method="post">
                <li class="form-field">
                    <input class="field" type="email" placeholder="ihre@mail.de" name="e">
                </li>
                <li class="form-btn">
                    <input class="bluebtn" type="submit" value="E-Mail senden">
                </li>
            </form>
        </ul>
    </div>
    <div class="modalbg"></div>
</section>
<script src="/assets/js/download-modal.2.js"></script>