---
layout: default

lang: en
theme_switch_light_label: Light
theme_switch_dark_label: Dark
navigation_home_label: Home
navigation_help_label: Help
navigation_about_label: About
navigation_blog_label: Blog
navigation_store_label: Buy
footer_privacy_policy_link_label: Privacy Policy
footer_eula_link_label: EULA
footer_replies_link_label: Try replies.io! Our smart customer support tool.
---

{{ content }}

<section class="modal" id="modal_macos">
    <div id="modal_macos_arrowjs-root"></div>
    <div class="modaldialog smlnews">
        <span class="modalclose"></span>
        <h3>Download has started!</h3>
        <h4>Shortly you'll find a .tbz file in your Downloads folder. Simply double-click it to unpack Mailplane. Enjoy!</h4>
        <hr />
        <h4>We also recommend our newsletter for periodic updates about Mailplane.</h4>
        <ul>
            <form action="https://buzzardch.createsend.com/t/j/s/btdlji/" method="post">
                <input type="hidden" value="" name="cm-f-hthlul">
                <li class="form-field">
                    <input class="field" type="email" placeholder="your@email.com" name="cm-btdlji-btdlji">
                </li>
                <li class="form-btn">
                    <input class="bluebtn" type="submit" value="Join Newsletter">
                </li>
            </form>
        </ul>
        <p>No Spam. Don't expect more than two emails a year. We love programming too much ;)</p>
    </div>

    <div class="modalbg"></div>
</section>
<section class="modal" id="modal_non_macos">
    <div id="modal_non_macos_arrowjs-root"></div>
    <div class="modaldialog smlnews">
        <span class="modalclose"></span>
        <h3>Download later</h3>
        <h4>Mailplane requires macOS 10.12 or higher.</h4>
        <h4>Send <strong><a href="mailto:?subject=Mailplane&body=You%20can%20download%20Mailplane%20here%3A%20https%3A%2F%2Fmailplaneapp.com%2Fdownload">yourself an email</a></strong> and download Mailplane later when you're back on your Mac.</h4>
        <!--
        <ul>
            <form action="https://store.mailplaneapp.com/send_download_link.php" method="post">
                <li class="form-field">
                    <input class="field" type="email" placeholder="your@email.com" name="e">
                </li>
                <li class="form-btn">
                    <input class="bluebtn" type="submit" value="Send Email">
                </li>
            </form>
        </ul>
        -->
    </div>
    <div class="modalbg"></div>
</section>
<script src="/assets/js/download-modal.2.js"></script>