<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="utf-8"/>
	<title>{{ page.title }}</title>
	
	<link rel="icon" href="/icons/favicon.ico" type="image/x-icon" />	

	<link rel="stylesheet" href="/assets/reset.css" />
	<link rel="stylesheet" href="/assets/screen.css" />
	
	<!--[if IE]>  
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>  
	<![endif]--> 
	<script type="text/javascript" src="/assets/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/jquery.cycle.all.2.72.js"></script>
</head>

<body>

	<div class="top">
		<div class="wrapper">
			<section class="minitop">
				<a class="logo" href="/index_.html">Mailplane</a>
			</section>
		</div>
	</div>
	
	<div class="wrapper">
		<section class="cnt">
    	{{ content }}
		</section>

		<footer>
			<nav id="main-navigation" data-content-field="navigation-mainNav">
				<a href="/index_.html">Home</a>
				<a href="/tour.html">Tour</a>
				<a href="http://sites.fastspring.com/uncomplex/product/mailplane3?mode=test">Buy</a>
				<a href="/blog">Blog</a>
				<a href="/help">Help</a>
			</nav>
			<p class="copy">2013, &copy; <a href="/about.html">uncomplex gmbh</a></p>
		</footer>
	</div>

</body>
</html>