<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if lt IE 9]>
<script src="/assets/js/html5shiv.js"></script>
<![endif]-->
<html lang="en">
<head>
    <meta name="keywords" content="gmail mac, gmail for mac, gmail mac file attachments, google mail mac, mac email google" />
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | markdownify | strip_html }}{% endif %}">
    <meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport">
    <meta charset="utf-8"/>
    <title>Mailplane - {% if page.title == 'Home' %}Gmail for Mac{% else %}{{ page.title }}{% endif %}</title>

    <link rel="stylesheet" href="/assets/css/html5reset-1.6.1.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
    <style id="darkThemeConditionalStyle">@import url("/assets/css/dark-theme.css") screen and (prefers-color-scheme: dark);</style>

    <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/images/favicon-64x64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="/assets/images/favicon-128x128.png" sizes="128x128">

    <script src="/assets/js/themes.1.js"></script>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/testimonials.js"></script>
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(100554681);</script>
    <script async src="//static.getclicky.com/js"></script>
</head>
<body>

{{ content }}

</body>
</html>
