---
layout: default
---

<section class="banner">
    <div class="container">
        <div class="a-post">
            <div class="a-post-wrap">
                <img src="/assets/images/plane.svg" alt="" class="a-post-unveil"/>
                <h2>Mailplane 4<br/>has landed!</h2>
                <p><a href="/mailplane_4_what_is_new.html">Learn what is new</a></p>
            </div>
            <div class="decoration">
                <span class="decor-item-one"></span>
                <span class="decor-item-two"></span>
                <span class="decor-item-three"></span>
                <span class="decor-item-four"></span>
                <span class="decor-item-five"></span>
            </div>
        </div>
        <div class="main-cta">
            <h1>The best way to use Gmail on your Mac</h1>
            <ul>
                <li>
                    <a id="openmodal" href="https://update.mailplaneapp.com/mailplane_4.php" class="main-btn blue-btn">Free Download</a>
                    <p>Free trial for 15 days<br/>macOS 10.12+ (<a href="/download.html">Older?</a>)</p>
                </li>
                <li>
                    <a href="https://store.mailplaneapp.com" class="main-btn white-btn">Buy It</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="clouds cwrap">
        <object type="image/svg+xml" data="/assets/landing_page_en/clouds-blue.svg" class="cblue">
        </object>
        <object type="image/svg+xml" data="/assets/landing_page_en/clouds-white.svg" class="clouds cwhite">
        </object>
    </div>
</section>

<section class="tour">
    <div class="container">
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-left">
                <h2>Gmail, Calendar, Contacts & Google&nbsp;Inbox</h2>
                <p>Manage all your Gmail, Calendar, Contacts and Google Inbox accounts in Mailplane instead of cluttering up your browser window.</p>
                <p>All-in-one app with Apple-like keyboard shortcuts. No separate set-up required.</p>
            </li>
            <li class="item-img img-right">
                <img src="/assets/landing_page_en/gmail_calendar_etc@2x.png" alt="Gmail, Calendar, Contacts & Google&nbsp;Inbox" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-right">
                <h2>Notifier</h2>
                <p>Mailplane's notifier lets you know how many unread messages are in your inboxes, right from your Mac's menu bar.</p>
                <p>It also notifies you when new emails arrive. You can react directly by archiving a message or writing a quick reply.</p>
            </li>
            <li id="notifier_animation" class="item-img img-left">
                <img src="/assets/landing_page_en/notifier/01@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/02@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/03@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/04@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/05@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/06@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/07@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/08@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/09@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/10@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/11@2x.jpg" alt="Notifier" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-left">
                <h2>Search & Navigate</h2>
                <p>Navigate Mailplane at the speed of light. No matter if you want to jump to a label, tab, account, or bookmark.</p>
                <p>Search for messages simultaneously across all your Gmail and Google Inbox accounts.</p>
            </li>
            <li id="search_and_navigate" class="item-img img-right">
                <img src="/assets/landing_page_en/search_and_navigate/01@2x.png" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/02@2x.png" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/03@2x.png" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/04@2x.png" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/05@2x.png" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/06@2x.png" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/07@2x.png" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/08@2x.png" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/09@2x.png" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/10@2x.png" alt="Search & Navigate" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-center">
                <h2>Annotation & Shapes</h2>
                <p>Get your point across with fewer words using annotations and shapes.</p>
            </li>
            <li id="annotation_and_shapes" class="item-img img-center">
                <img src="/assets/landing_page_en/annotation_and_shapes/01@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/02@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/03@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/04@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/05@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/06@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/07@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/08@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/09@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/10@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/11@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/12@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/13@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/14@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/15@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/16@2x.jpg" alt="Annotation & Shapes" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-center">
                <h2>Integrations</h2>
                <p>Mailplane integrates with other macOS apps in various ways. See a comprehensive list <a href="/help/integration.html">here</a>.</p>
            </li>
            <li id="integrations" class="img-center-integration">
                <img src="/assets/landing_page_en/integrations/01@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations/02@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations/03@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations/04@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations/05@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations/06@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations/07@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations/08@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations/09@2x.png" alt="Integrations" />
            </li>
            <li id="integrations_720px" class="img-center-integration">
                <img src="/assets/landing_page_en/integrations_720px/01@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/02@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/03@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/04@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/05@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/06@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/07@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/08@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/09@2x.png" alt="Integrations" />
            </li>
            <li id="integrations_540px" class="img-center-integration">
                <img src="/assets/landing_page_en/integrations_540px/01@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/02@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/03@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/04@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/05@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/06@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/07@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/08@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/09@2x.png" alt="Integrations" />
            </li>
        </ul>
    </div>
</section>

<section class="plugins" id="extensions">
    <div class="container plugins-heading">
        <h2>Extensions</h2>
        <p>Third-party extensions enhance Mailplane. Give them a try with a single click.</p>
    </div>
    <ul class="logos">
        <li>
            <a href="https://www.rightinbox.com"><img src="/assets/landing_page_en/extension_rightinbox@2x.png" alt="Right Inbox" /></a>
            <p>Schedule emails, set reminders, and follow up easily</p>
        </li>
        <li>
            <a href="https://connect.clearbit.com"><img src="/assets/landing_page_en/extension_clearbit@2x.png" alt="Clearbit Connect" /></a>
            <p>Find email addresses and display useful contextual data</p>
        </li>
        <li>
            <a href="https://www.streak.com"><img src="/assets/landing_page_en/extension_streak@2x.png" alt="Streak" /></a>
            <p>Keep track of deals and manage customer information</p>
        </li>
        <li>
            <a href="https://www.boomeranggmail.com"><img src="/assets/landing_page_en/extension_boomerang@2x.png" alt="Boomerang" /></a>
            <p>Send later, track responses, and write better emails</p>
        </li>
        <li class="logo-min">
            <a href="https://www.fullcontact.com"><img src="/assets/landing_page_en/extension_fullcontact@2x.png" alt="FullContact" /></a>
            <p>Know everything about your Gmail contacts right from your inbox</p>
        </li>
        <li class="logo-min">
            <a href="https://www.grammarly.com"><img src="/assets/landing_page_en/extension_grammarly@2x.png" alt="Grammarly" /></a>
            <p>Enhance your written communication everywhere you type</p>
        </li>
        <li class="logo-min">
            <a href="https://business.linkedin.com/sales-solutions/sales-navigator"><img src="/assets/landing_page_en/extension_insales@2x.png" alt="LinkedIn Sales Navigator" /></a>
            <p>Engage with Sales Navigator insights from your inbox</p>
        </li>
        <li class="logo-min">
            <a href="https://gmelius.com"><img src="/assets/landing_page_en/extension_gmelius@2x.png" alt="Gmelius" /></a>
            <p>Make your inbox smarter with a shared inbox & CRM</p>
        </li>
        <li class="logo-min">
            <a href="https://docsify.net"><img src="/assets/landing_page_en/extension_docsify@2x.png" alt="Docsify" /></a>
            <p>Level up Gmail to make it a powerful sales prospecting tool</p>
        </li>
        <li class="logo-min">
            <a href="https://www.rmail.com"><img src="/assets/landing_page_en/extension_rmail@2x.png" alt="RMail for Gmail" /></a>
            <p>Track email opens, encrypt emails, and sign documents</p>
        </li>
        <li class="logo-min">
            <a href="https://www.salesforce.com/products/sales-cloud/features/crm-email-connector/"><img src="/assets/landing_page_en/extension_sinbox@2x.png" alt="Salesforce Inbox" /></a>
            <p>Extend the Salesforce platform to your inbox and sell smarter</p>
        </li>
        <li class="logo-min">
            <a href="https://zoom.us"><img src="/assets/landing_page_en/extension_zoom@2x.png" alt="Zoom" /></a>
            <p>Schedule Zoom meetings directly from Google Calendar</p>
        </li>
    </ul>
    <h3 class="logos-more logo-max">and much more</h3>
    <ul class="logos-list logo-max">
        <li><p>FullContact</p></li>
        <li><p>Grammarly</p></li>
        <li><p>LinkedIn Sales Navigator</p></li>
        <li><p>Gmelius</p></li>
        <li><p>Docsify</p></li>
        <li><p>RMail for Gmail</p></li>
        <li><p>Salesforce Inbox</p></li>
        <li><p>Zoom Scheduler</p></li>
    </ul>
</section>

<!--
<section class="tour">
    <div class="container">
        <ul class="tour-item">
            <li class="item-copy item-center">
                <h2>Smart Drop Area</h2>                
                <p>It triggers actions like composing a new message, resizing images, zipping directories, etc.</p>
            </li>
            <li class="item-img img-center">
                <img src="" alt="" />
            </li>
        </ul>
        <ul class="tour-item">
            <li class="item-copy item-center">
                <h2>Fluent in 5 Languages</h2>
                <p>Fully localized in English, Japanese, German, French, and Spanish.</p>
            </li>
            <li class="img-center-multilang">
                <img src="/assets/landing_page_en/languages.png" alt="" />
            </li>
        </ul>
    </div>
</section>
-->

<section class="stats">
    <div class="container stats-heading">
        <h2>The Long Run</h2>
        <p>Thanks to our loyal customer base, Mailplane has been around for ages. We love to continuously improve it for you!</p>
    </div>
    <ul>
        <li id="updates">
            <a href="/releases/mailplane3.html" style="text-decoration:none"><h1 id="numberOfMailplaneUpdates"></h1></a></h1>
            <p>Updates</p>
        </li>
        <li>
            <a href="/blog/entry/would_you_like_to_become_a_mailplane_test_pilot" style="text-decoration:none"><h1 id="ageOfMailplaneInYears"></h1></a></h1>
            <p>Years</p>
        </li>
    </ul>
</section>

<!--
<section class="testimonials">
	<ul>
		<li>
			<p>"I admire the hard work its creators put into the new version. It's definitely the most polished and useful Gmail client I've yet tested."</p>
			<img src="/assets/images/macworld@2x.png" alt="Macworld" />
			<p class="user">Nathan Alderman, <a href="#">MacWorld</a></p>
		</li>
		<li>
			<p>"Mailplane 3 is a must-have upgrade if you live in Gmail."</p>
			<img src="/assets/images/tuaw@2x.png" alt="TUAW" />
			<p class="user">Victor Agreda Jr., <a href="#">TUAW</a></p>
		</li>
		<li>
			<p>"Best for Gmail power users. Mailplane will win over Gmail diehards with its multi-account support alone."</p>
			<img src="/assets/images/appleinsider@2x.png" alt="Apple Insider" />
			<p class="user">Shane Cole, <a href="#">Apple Insider</a></p>
		</li>
	</ul>
</section>
-->

<section class="cta">
    <div class="container cta-heading">
        <h2>Get started today!</h2>
        <p>Free trial for 15 days</p>
    </div>
    <div class="cta-btn">
        <a id="openmodal" href="https://update.mailplaneapp.com/mailplane_4.php" class="main-btn blue-btn">Free Download</a>
    </div>
</section>

<!-- Modal box -->
<section class="modal" id="modal">
    <div class="modaldialog smlnews">
        <span class="modalclose" id="modalclose"></span>
        <h3>Thank you!</h3>
        <h4>Your download has started. If you like, you can join our newsletter for periodic updates about Mailplane.</h4>
        <ul>
            <form action="http://buzzardch.createsend.com/t/j/s/btdlji/" method="post">
                <input type="hidden" value="" name="cm-f-hthlul">
                <li class="form-field">
                    <input class="field" type="email" placeholder="your@email.com" name="cm-btdlji-btdlji">
                </li>
                <li class="form-btn">
                    <input class="bluebtn" type="submit" value="Subscribe">
                </li>
            </form>
        </ul>
        <p>No Spam. Each email will contain a link to unregister from our newsletter.</p>
    </div>

    <div class="modalbg" id="modalbg" />
    </div>
</section>

<script src="/assets/js/animations.js"></script>
<script>
    $(function() {
        animateImgs($("#notifier_animation"), 1000);
        animateImgs($("#annotation_and_shapes"), 1000);
        animateImgs($("#search_and_navigate"), 1000);
        animateImgs($("#integrations"), 4000);
        animateImgs($("#integrations_540px"), 4000);
        animateImgs($("#integrations_720px"), 4000);

        var birthOfMailplane = new Date(2007, 2, 8); // March 8, 2007
        var ageInMs = new Date().getTime() - birthOfMailplane.getTime();
        var ageInYears = ageInMs / 1000 / 60 / 60 / 24 / 365;
        $("#ageOfMailplaneInYears").text(Math.floor(ageInYears * 10) / 10);

        var nbrOfUpdates = 0;
        nbrOfUpdates += 50; // Mailplane 1 (Estimate)
        nbrOfUpdates += 47; // Mailplane 2 (2.5.12, 2.4.1, 2.3.1, 2.2.1, 2.1.11, 2.0.15)
        nbrOfUpdates += {{ site.categories.release_mailplane3 | size }}; // Mailplane 3
        $("#numberOfMailplaneUpdates").text(nbrOfUpdates);
    });

    $('#openmodal').click(function() {
        $('#modal').removeClass('modal');
        $('#modal').addClass('modalon');
    });
    $('#modalbg').click(function() {
        $('#modal').removeClass('modalon');
        $('#modal').addClass('modal');
    });
    $('#modalclose').click(function() {
        $('#modal').removeClass('modalon');
        $('#modal').addClass('modal');
    });
</script>
<!-- End modal box -->
