---
layout: default
---

<section class="cnt-new">
    <div class="container">
        <div class="whatsnew">
            <h1>Mailplane 4 has landed!</h1>
            <p>The best Mailplane we've ever made. Check out some of its new features.</p>
            <img src="/assets/images/plane.svg" alt=""/>
        </div>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-left">
                <h2>Notifications with Actions</h2>
                <p>Archive a message or write a quick reply directly from a new email notification.</p>
            </li>
            <li id="notifier_animation" class="item-img img-right">
                <img src="/assets/landing_page_en/notifier/01@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/02@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/03@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/04@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/05@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/06@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/07@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/08@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/09@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/10@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/11@2x.jpg" alt="Notifier" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-right">
                <h2>Search & Navigate</h2>
                <p>Navigate Mailplane at the speed of light. No matter if you want to jump to a label, tab, account, or bookmark.</p>
                <p>Search for messages across all your Gmail and Google Inbox accounts.</p>
            </li>
            <li id="search_and_navigate" class="item-img img-left">
                <img src="/assets/landing_page_en/search_and_navigate/01@2x.png" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/02@2x.png" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/03@2x.png" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/04@2x.png" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/05@2x.png" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/06@2x.png" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/07@2x.png" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/08@2x.png" alt="Search & Navigate" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-center">
                <h2>Annotation & Shapes</h2>
                <p>Get your point across with fewer words using annotations and shapes.</p>
            </li>
            <li id="annotation_and_shapes" class="item-img img-center">
                <img src="/assets/landing_page_en/annotation_and_shapes/01@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/02@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/03@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/04@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/05@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/06@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/07@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/08@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/09@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/10@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/11@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/12@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/13@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/14@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/15@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/16@2x.jpg" alt="Annotation & Shapes" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-left">
                <h2>Offline Support</h2>
                <p>Use Mailplane in an airplane! – with Gmail's brand-new offline mode.</p>
            </li>
            <li id="offline_support" class="item-img img-right">
                <img src="/assets/mailplane_4_what_is_new/offline_support/01@2x.png" alt="Offline Support" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/offline_support/02@2x.png" alt="Offline Support" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/offline_support/03@2x.png" alt="Offline Support" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/offline_support/04@2x.png" alt="Offline Support" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/offline_support/05@2x.png" alt="Offline Support" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/offline_support/06@2x.png" alt="Offline Support" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/offline_support/07@2x.png" alt="Offline Support" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/offline_support/08@2x.png" alt="Offline Support" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/offline_support/09@2x.png" alt="Offline Support" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/offline_support/10@2x.png" alt="Offline Support" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-right">
                <h2>Unclutter Downloads</h2>
                <p>Open Gmail attachments directly in your macOS app without filling up your downloads folder.</p>
            </li>
            <li class="item-img img-left">
                <img src="/assets/mailplane_4_what_is_new/unclutter_downloads.png" alt="Unclutter Downloads" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-center">
                <h2>Google Inbox Support</h2>
                <p>Google Inbox support has grown to the same level as Gmail's.</p>
            </li>
            <li class="item-img img-center">
                <img src="/assets/mailplane_4_what_is_new/google_inbox@2x.png" alt="Google Inbox Support" />
            </li>
        </ul>
    </div>
</section>

<section class="plugins" id="extensions">
    <div class="container plugins-heading">
        <h2>8 New Extensions</h2>
    </div>
    <ul class="logos">
        <li class="logo-min">
            <a href="https://www.grammarly.com"><img src="/assets/landing_page_en/extension_grammarly@2x.png" alt="Grammarly" /></a>
            <p>Enhance your written communication everywhere you type</p>
        </li>
        <li class="logo-min">
            <a href="https://www.fullcontact.com"><img src="/assets/landing_page_en/extension_fullcontact@2x.png" alt="FullContact" /></a>
            <p>Know everything about your Gmail contacts right from your inbox</p>
        </li>
        <li class="logo-min">
            <a href="https://business.linkedin.com/sales-solutions/sales-navigator"><img src="/assets/landing_page_en/extension_insales@2x.png" alt="LinkedIn Sales Navigator" /></a>
            <p>Engage with Sales Navigator insights from your inbox</p>
        </li>
        <li class="logo-min">
            <a href="https://gmelius.com"><img src="/assets/landing_page_en/extension_gmelius@2x.png" alt="Gmelius" /></a>
            <p>Make your inbox smarter with a shared inbox & CRM</p>
        </li>
        <li class="logo-min">
            <a href="https://docsify.net"><img src="/assets/landing_page_en/extension_docsify@2x.png" alt="Docsify" /></a>
            <p>Level up Gmail to make it a powerful sales prospecting tool</p>
        </li>
        <li class="logo-min">
            <a href="https://hiverhq.com"><img src="/assets/landing_page_en/extension_hiver@2x.png" alt="Hiver" /></a>
            <p>Manage shared mailboxes and share labels with your team.</p>
        </li>
        <li class="logo-min">
            <a href="https://www.salesforce.com/products/sales-cloud/features/crm-email-connector/"><img src="/assets/landing_page_en/extension_sinbox@2x.png" alt="Salesforce Inbox" /></a>
            <p>Extend the Salesforce platform to your inbox and sell smarter</p>
        </li>
        <li class="logo-min">
            <a href="https://zoom.us"><img src="/assets/landing_page_en/extension_zoom@2x.png" alt="Zoom" /></a>
            <p>Schedule Zoom meetings directly from Google Calendar</p>
        </li>
    </ul>
    <ul class="logos-list logo-max">
        <li><p>FullContact</p></li>
        <li><p>Grammarly</p></li>
        <li><p>LinkedIn Sales Navigator</p></li>
        <li><p>Gmelius</p></li>
        <li><p>Docsify</p></li>
        <li><p>Hiver</p></li>
        <li><p>Salesforce Inbox</p></li>
        <li><p>Zoom Scheduler</p></li>
    </ul>
</section>

<section class="tour">
    <div class="container">
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-left">
                <h2>Bookmarks</h2>
                <p>Bookmark frequently used searches and email conversations.</p>
            </li>
            <li class="item-img img-right">
                <img src="/assets/mailplane_4_what_is_new/bookmarks@2x.png" alt="Bookmarks" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-right">
                <h2>Save Clip</h2>
                <p>Clip entire email conversations, including attachments and images, into Evernote, DEVONthink, OmniFocus, Receipts, Todoist and Things.</p>
            </li>
            <li id="save_clip" class="item-img img-left">
                <img src="/assets/mailplane_4_what_is_new/save_clip/01@2x.png" alt="Save Clip" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/save_clip/02@2x.png" alt="Save Clip" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/save_clip/03@2x.png" alt="Save Clip" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/save_clip/04@2x.png" alt="Save Clip" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/save_clip/05@2x.png" alt="Save Clip" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/save_clip/06@2x.png" alt="Save Clip" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/save_clip/07@2x.png" alt="Save Clip" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/save_clip/08@2x.png" alt="Save Clip" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-left">
                <h2>Use Security Keys</h2>
                <p>Use <a href="https://www.google.com/webhp?q=FIDO+U2F+Security+Key">security keys</a> for 2-Step Verification. With them, you get an extra level of protection and can sign in without your phone. Learn more <a href="https://support.google.com/accounts/answer/6103523">here</a></p>
            </li>
            <li id="use_security_keys" class="item-img img-right">
                <img src="/assets/mailplane_4_what_is_new/use_security_keys/01@2x.png" alt="Use Security Keys" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/use_security_keys/02@2x.png" alt="Offline Support" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/use_security_keys/03@2x.png" alt="Offline Support" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/use_security_keys/04@2x.png" alt="Offline Support" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/use_security_keys/05@2x.png" alt="Offline Support" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/use_security_keys/06@2x.png" alt="Offline Support" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/use_security_keys/07@2x.png" alt="Offline Support" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/use_security_keys/08@2x.png" alt="Offline Support" />
                <img style="display: none" src="/assets/mailplane_4_what_is_new/use_security_keys/09@2x.png" alt="Offline Support" />
            </li>
        </ul>
    </div>

    {{ content }}
</section>

<script src="/assets/js/animations.js"></script>
<script>
    $(function() {
        animateImgs($("#notifier_animation"), 1000);
        animateImgs($("#annotation_and_shapes"), 1000);
        animateImgs($("#search_and_navigate"), 1000);
        animateImgs($("#save_clip"), 1000);
        animateImgs($("#offline_support"), 1000);
        animateImgs($("#use_security_keys"), 1000);
    });
</script>
